body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: white;
  background: linear-gradient(to right, blue, purple);
}

#weatherContainer {
  display: flex;
  height: 900px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;

}

#user-form {
  height: 115px;
  width: 200px;
  border-bottom: gray solid 2px;
}

#searchHistory {
  min-height: 780px;
  width: 200px;
  flex: 0 0 30%;
  border: 2px solid red;
}

#currentWeather {
  text-align: left;
  min-height: 300px;
  max-height: 40vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 10px;
}

#forecastHeader {
  margin: 10px;
}

#forecastedWeather {
  text-align: left;
  max-height: 40vh;
  width: 80vw;
  display: flex;
  justify-content: space-around;
  text-align: center;

  flex: 1;
  margin: 10px;
}

span {
  margin: 0;
  text-align: Left;
  align-content: normal;
  background-color: rgba(15, 15, 75, 0.763);
  display: flex;
  flex-direction: column;
  color: white;
  min-width: 15vw;
}

h2,
h3 {
  display: inline-block;
  margin-left: 5px;
}

ul,
li {
  padding-left: 5px;
  margin: 0;
  margin-bottom: 10px;
}

#destination {
  width: 194px;
  margin-bottom: 5px;
}

#getForecast {
  width: 200px;
  margin-bottom: 5px;
}
